@page
@model AccessDeniedModel
@{
    Layout ="_LayoutLogin";
}
<h1 class="text-danger mt-5 text-center">Bạn không có quyền truy cập vào tài nguyên này!!!! (<a class="btn fz-5" asp-action="Index" asp-controller="Home" asp-area="">BACK</a>)</h1>


